.userCard{
    margin-bottom:30px;
    & .mainText{
        margin-left:10px;
        margin-bottom:10px;
        font-size:34px;
    }
    & .picture {
        display: flex;
        flex-wrap: wrap;
        width:630px;
        margin:5px;
        &> Image{
            width:200px;
            height:200px;
            margin:5px;
        }
    }
}