.card{
    border:1px solid #6190E8;
    margin-top:30px;
    margin-bottom:30px;
    border-radius:10px;
    padding:30px;
    & .header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &_message{
            margin-left:20px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            &_name{
                font-size:32px;
                font-weight: bold;
            }
            &_other{
                font-size:20px;
                color:#999;
            }
        }
    }
    & > .mainText{
        margin-left:10px;
        margin-top:20px;
        margin-bottom:10px;
        font-size:34px;
    }
    & > .footer{
        display: flex;
        justify-content:space-around;
        align-items: center;
        border-top: 3px solid #ddd;
        & > .icon{
            margin:10px;
            & > .number{
                margin-left:10px;
                font-size:28px;
                &.active{
                    color:#FE4950;
                }
            }
        }
    }
    & > .picture {
        display: flex;
        flex-wrap: wrap;
        width:630px;
        margin:5px;
        &> Image{
            width:200px;
            height:200px;
            margin:5px;
        }
    }
}